.btn {
    width: fit-content;
    color: #ffffff;
    font-weight: 700;
    background-color: #d73a3e;
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    cursor: pointer;
}

.btn.css-173vi3y-MuiButtonBase-root-MuiButton-root:hover {
     background-color: #b02f36;
}