.login-subtitle {
    margin-block-end: 20px;
}

input {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 12px;
    border: 1px solid #9d9e9e;
    border-radius: 6px;
    margin-bottom: 15px;
}
/* 
.empty {
    display: none;
    text-align: center;
    margin-top: 30px;
    font-size: 1.5em;
    color: #939393;
} */
